doctype html
html
  head
    meta(name= 'viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/united.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer.page-footer.bg-light.mt-5
      .container-fluid.text-center.text-md-left
        .row
          .col-md-6.mt-md-0.mt-3
            h5 Contact: Connor @083......       
            
          hr.clearfix.w-100.d-md-none.pb-3
          .col-md-6.mb-md-0.mb-6     
            ul.list-unstyled
              li
                a.float-right(href='#!') Login as Admin
      .footer-copyright.text-center.py-3
        | &copy; 2019 Copyright: Nico
        a(href='#')  webRef

    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/bootstrap.min.js')
    script(src='/javascripts/stickyCode.js')