mixin eventType(event)
    -   if (event.eventType=="ordinary" && event.isNextEvent)
            .card-header.bg-primary
                h4.card-title nextEvent: #{event.eventTitle+" "+event.eventDate}
                a.btn.btn-success(href="#") register for next event
    -   else if (event.eventType=="ordinary" && !event.isNextEvent)
            .card-header.bg-primary
                h4.card-title #{event.eventTitle+" "} #{event.eventDate}
    -   else if (event.eventType=="announcement")
            .card-header.bg-info
                h4.card-title #{event.eventTitle+" "+event.eventDate}